.container {
    height: 100vh;
  }
  @media (min-width: 576px) {
    .col {
      max-width: 400px;
    }
  }
  .classcolor{
    background-color: aqua;
  }
  .btn-add{
    border: 2px solid black;
    text-decoration: none;
    background-color: #3c46c3;
    color: #fff;
   }
  